<h2>Reset password</h2>

<%= form_tag password_resets_path, method: :post do %>
  <%= text_field_tag :email, params[:email], placeholder: 'Email' %>
  <%= submit_tag "Send me a new password", class: 'btn btn-primary' %>
<% end %>
